.shopping-cart-content{
  width: 100%;
  -webkit-flex: 1;
  overflow: auto;
  ._v-container[data-v-ecaca2b0]{
    position: static;
  }
}

.cart-list {
  width: 100%;
  .null-cart {
    background: #f7f7f7;
    height: rem(630);
    line-height: rem(630);
  }
  .shopping-list {
    width: 100%;
    border-top: rem(3) solid #ccc;

    background: #fff;
    .shopping-item {
      border-bottom: rem(3) solid #ccc;
      padding: rem(45);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .i-xuanzhong {
        font-size: rem(40);
        color: #999;
      }
      .active {
        color: red;
      }
      .actived {
        color: #999;
      }
      .shopping-item-img {
        width: rem(230);
        height: rem(230);
        margin: 0 rem(80) 0 rem(50);
        img {
          border-radius: rem(30);
          border-bottom-right-radius: rem(0);
        }
      }
      .shopping-name {
        width: rem(595);
        height: rem(245);
        font-size: rem(37);
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .shopping-name-button {
          display: flex;
          justify-content: space-between;
          font-size: rem(27);
          span {
            color: red;
          }
          .number {
            display: flex;
            width: rem(235);
            height: rem(75);
            border-radius: rem(10);
            border: rem(5) solid #999;
            .numbers {
              width: rem(93);
              height: rem(75);
              line-height: rem(75);
              text-align: center;
              font-size: rem(26);
              border-left: rem(5) solid #999;
              border-right: rem(5) solid #999;
            }
            button {
              width: rem(67);
              border: none;
              font-size: rem(17);
              background: #fff;
              outline: none;
            }
          }
        }
      }
    }

    height: rem(630);

    .null-cart {
      background: #f7f7f7;
      line-height: rem(630);

    }
  }

}
.lovely{
  background: #fff;
  width: 100%;
  .lovely-top{
    width: 100%;
    height: rem(171);
    line-height: rem(171);
    font-size: rem(40);
  }
  .lovely-list{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    dl{
      width: rem(495);
      height: rem(605);
      box-sizing: border-box;
      dt{
        width: 100%;
        height: rem(495);
      }
      dd{
        width: 100%;
        padding: 0 rem(17);
        box-sizing: border-box;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        p:first-child{
          font-size: rem(37);
        }
        p:last-child{
          display: flex;
          justify-content: space-between;
          span:first-child{
            font-size: rem(29);
            color: red;
            font-weight: bold;
          }
          span:last-child{
            font-size: rem(27);
            color: #999;
          }
        }
      }
    }
  }
}
