.classify {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.ify-header {
  width: 100%;
  height: 1.7777777778rem;
  background: #fff;
  border-bottom: 0.0296296296rem solid #cccccc;
  text-align: left;
  padding-left: 0.6222222222rem;
  position: relative;
  box-sizing: border-box; }
  .ify-header input[type=text] {
    width: 10.3703703704rem;
    height: 1.2592592593rem;
    border-radius: 1.7777777778rem;
    text-indent: 1.4666666667rem;
    border: none;
    outline: none;
    background: #ccc;
    margin-top: 0.237037037rem;
    font-size: 0.5777777778rem; }
  .ify-header .i-sousuo {
    font-size: 0.7407407407rem;
    position: absolute;
    bottom: 0.5185185185rem;
    left: 0.9777777778rem;
    color: #999; }

.ify-content {
  width: 100%;
  background: #fff;
  -webkit-flex: 1;
  overflow: auto;
  padding-top: 0.5925925926rem;
  display: flex;
  border-bottom: 0.0592592593rem solid #cccccc; }
  .ify-content .ify-content-left {
    width: 3.9259259259rem;
    font-size: 0.5925925926rem; }
    .ify-content .ify-content-left li {
      width: 100%;
      height: 1.4962962963rem;
      text-align: center;
      line-height: 1.4962962963rem;
      border: 0.1037037037rem solid #fff; }
    .ify-content .ify-content-left li:hover {
      border-left: 0.1037037037rem solid #b3212e;
      color: #b3212e; }
  .ify-content .ify-content-right {
    width: 12rem;
    border-left: 0.1037037037rem solid #ccc;
    padding-left: 0.3111111111rem;
    padding-right: 0.3703703704rem; }
    .ify-content .ify-content-right .ify-banner {
      width: 100%;
      height: 4.2222222222rem; }
      .ify-content .ify-content-right .ify-banner img {
        height: 100%; }
      .ify-content .ify-content-right .ify-banner a {
        display: inline; }
    .ify-content .ify-content-right .ify-classify {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 0.9925925926rem; }
      .ify-content .ify-content-right .ify-classify li {
        width: 3.6296296296rem;
        margin-left: 0.2962962963rem;
        padding-top: 1.1259259259rem;
        text-align: center;
        font-size: 0.4740740741rem; }
        .ify-content .ify-content-right .ify-classify li .ify-image {
          width: 100%;
          height: 3.6296296296rem;
          margin-bottom: 0.8888888889rem; }
  .ify-content ._v-container[data-v-ecaca2b0] {
    position: static; }

.shopping-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.shopping-cart-header {
  width: 100%;
  height: 2.1481481481rem;
  background: #fff;
  font-size: 0.6074074074rem;
  line-height: 2.1481481481rem;
  position: relative; }
  .shopping-cart-header span {
    position: absolute;
    top: 0rem;
    left: 0.4148148148rem;
    color: red; }

.shopping-cart-content {
  width: 100%;
  -webkit-flex: 1;
  overflow: auto; }
  .shopping-cart-content ._v-container[data-v-ecaca2b0] {
    position: static; }

.cart-list {
  width: 100%; }
  .cart-list .null-cart {
    background: #f7f7f7;
    height: 9.3333333333rem;
    line-height: 9.3333333333rem; }
  .cart-list .shopping-list {
    width: 100%;
    border-top: 0.0444444444rem solid #ccc;
    background: #fff; }
    .cart-list .shopping-list .shopping-item {
      border-bottom: 0.0444444444rem solid #ccc;
      padding: 0.6666666667rem;
      box-sizing: border-box;
      display: flex;
      align-items: center; }
      .cart-list .shopping-list .shopping-item .i-xuanzhong {
        font-size: 0.5925925926rem;
        color: #999; }
      .cart-list .shopping-list .shopping-item .active {
        color: red; }
      .cart-list .shopping-list .shopping-item .actived {
        color: #999; }
      .cart-list .shopping-list .shopping-item .shopping-item-img {
        width: 3.4074074074rem;
        height: 3.4074074074rem;
        margin: 0 1.1851851852rem 0 0.7407407407rem; }
        .cart-list .shopping-list .shopping-item .shopping-item-img img {
          border-radius: 0.4444444444rem;
          border-bottom-right-radius: 0rem; }
      .cart-list .shopping-list .shopping-item .shopping-name {
        width: 8.8148148148rem;
        height: 3.6296296296rem;
        font-size: 0.5481481481rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .cart-list .shopping-list .shopping-item .shopping-name .shopping-name-button {
          display: flex;
          justify-content: space-between;
          font-size: 0.4rem; }
          .cart-list .shopping-list .shopping-item .shopping-name .shopping-name-button span {
            color: red; }
          .cart-list .shopping-list .shopping-item .shopping-name .shopping-name-button .number {
            display: flex;
            width: 3.4814814815rem;
            height: 1.1111111111rem;
            border-radius: 0.1481481481rem;
            border: 0.0740740741rem solid #999; }
            .cart-list .shopping-list .shopping-item .shopping-name .shopping-name-button .number .numbers {
              width: 1.3777777778rem;
              height: 1.1111111111rem;
              line-height: 1.1111111111rem;
              text-align: center;
              font-size: 0.3851851852rem;
              border-left: 0.0740740741rem solid #999;
              border-right: 0.0740740741rem solid #999; }
            .cart-list .shopping-list .shopping-item .shopping-name .shopping-name-button .number button {
              width: 0.9925925926rem;
              border: none;
              font-size: 0.2518518519rem;
              background: #fff;
              outline: none; }

.lovely {
  background: #fff;
  width: 100%; }
  .lovely .lovely-top {
    width: 100%;
    height: 2.5333333333rem;
    line-height: 2.5333333333rem;
    font-size: 0.5925925926rem; }
  .lovely .lovely-list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .lovely .lovely-list dl {
      width: 7.3333333333rem;
      height: 8.962962963rem;
      box-sizing: border-box; }
      .lovely .lovely-list dl dt {
        width: 100%;
        height: 7.3333333333rem; }
      .lovely .lovely-list dl dd {
        width: 100%;
        padding: 0 0.2518518519rem;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .lovely .lovely-list dl dd p:first-child {
          font-size: 0.5481481481rem; }
        .lovely .lovely-list dl dd p:last-child {
          display: flex;
          justify-content: space-between; }
          .lovely .lovely-list dl dd p:last-child span:first-child {
            font-size: 0.4296296296rem;
            color: red;
            font-weight: bold; }
          .lovely .lovely-list dl dd p:last-child span:last-child {
            font-size: 0.4rem;
            color: #999; }

.personal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f7f7f7; }
  .personal .personal-content {
    width: 100%;
    -webkit-flex: 1;
    overflow: auto; }
  .personal ._v-container[data-v-ecaca2b0] {
    position: static; }

.personal-top {
  width: 100%;
  background: #c2b088;
  box-sizing: border-box;
  padding: 2.5925925926rem 0 2.1185185185rem 0.5925925926rem; }
  .personal-top ul {
    display: flex; }
    .personal-top ul .head-sculpture {
      width: 3.2592592593rem;
      height: 3.2592592593rem;
      border-radius: 50%; }
      .personal-top ul .head-sculpture img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .personal-top ul .personal-name {
      text-align: left;
      padding-left: 0.6518518519rem;
      margin-top: 0.3703703704rem;
      color: #fff; }
      .personal-top ul .personal-name .name {
        font-size: 0.6222222222rem; }
      .personal-top ul .personal-name .integral {
        font-size: 0.4444444444rem;
        width: 2.4444444444rem;
        height: 0.5925925926rem;
        margin-top: 0.3555555556rem;
        border-radius: 0.1185185185rem;
        background: #b2a078;
        text-align: center; }

.personal-advertisement {
  width: 100%;
  height: 1.7037037037rem;
  display: flex;
  align-items: center;
  background: #fff;
  color: red;
  padding-left: 0.6666666667rem;
  margin-bottom: 0.3555555556rem;
  box-sizing: border-box; }
  .personal-advertisement .i-laba {
    font-size: 0.6666666667rem; }
  .personal-advertisement .advertisement {
    font-size: 0.5185185185rem;
    margin-left: 0.4444444444rem; }

.personal-orders {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 0.637037037rem 0 0.4148148148rem 0;
  margin-bottom: 0.3703703704rem; }
  .personal-orders .personal-orders-top {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 0.3555555556rem 0 0.6962962963rem; }
    .personal-orders .personal-orders-top .orders-top-left {
      font-size: 0.5333333333rem; }
      .personal-orders .personal-orders-top .orders-top-left .i-wodedingdan {
        font-size: 0.8740740741rem; }
    .personal-orders .personal-orders-top .i-arrow-right1 {
      font-size: 0.5481481481rem; }
  .personal-orders .personal-orders-wait {
    width: 100%;
    padding-top: 1.1407407407rem; }
    .personal-orders .personal-orders-wait ul {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .personal-orders .personal-orders-wait ul li {
        font-size: 0.5037037037rem; }
        .personal-orders .personal-orders-wait ul li .FontFamily {
          font-size: 1.0962962963rem; }

.personal-my {
  width: 100%;
  height: 8.5925925926rem;
  background: #fff; }
  .personal-my ul {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0.8888888889rem; }
    .personal-my ul li {
      width: 30%;
      padding-bottom: 1.5703703704rem;
      font-size: 0.4444444444rem; }
      .personal-my ul li .FontFamily {
        font-size: 1.037037037rem; }
      .personal-my ul li .money {
        color: #c3c3c3;
        font-size: 0.3851851852rem; }

.personal-version {
  width: 100%; }
  .personal-version p {
    padding: 0.6666666667rem 0 0.2666666667rem 0;
    font-size: 0.4444444444rem; }

.whole-price {
  background: #fff; }
  .whole-price .slot {
    height: 2.7407407407rem;
    position: relative; }
    .whole-price .slot .fanhui {
      position: absolute;
      top: 0;
      left: 0.2962962963rem; }

.whole-price:before {
  display: table;
  content: ''; }

.i-fanhui {
  float: left;
  font-size: 0.8148148148rem;
  margin-left: 0.5185185185rem; }

.strict {
  width: 100%;
  height: 100%;
  background: #fff; }
  .strict .strict-header {
    width: 100%;
    height: 2.7407407407rem;
    line-height: 2.7407407407rem;
    font-size: 0.5925925926rem;
    position: relative; }
    .strict .strict-header .i-fanhui {
      position: absolute;
      top: 0;
      left: 0.4444444444rem; }

#isroll-container {
  width: 100%;
  height: 4.4444444444rem; }
  #isroll-container .wrapper {
    display: flex;
    overflow: auto; }
    #isroll-container .wrapper .swiper-slide {
      width: 4.4148148148rem;
      height: 4.4148148148rem;
      padding-left: 0.4444444444rem; }
      #isroll-container .wrapper .swiper-slide img {
        width: 100%;
        height: 100%;
        border-radius: 0.2962962963rem; }
      #isroll-container .wrapper .swiper-slide .suggest p:first-child {
        font-size: 0.5926rem;
        display: flex;
        justify-content: space-between; }
        #isroll-container .wrapper .swiper-slide .suggest p:first-child span:last-child {
          color: red;
          margin-right: 0.4148rem; }
      #isroll-container .wrapper .swiper-slide .suggest p:last-child {
        font-size: 0.4593rem;
        color: #999;
        text-align: left;
        margin-left: 0.4148rem; }

.strict-list {
  width: 100%;
  padding: 0.2962962963rem;
  box-sizing: border-box;
  margin-top: 0.4444444444rem; }
  .strict-list ul {
    width: 100%; }
    .strict-list ul li {
      width: 100%;
      height: 7.7777777778rem;
      margin-top: 0.4444444444rem;
      position: relative; }
      .strict-list ul li img {
        height: 100%; }
      .strict-list ul li .strict-list-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #999;
        opacity: .9;
        color: #fff; }

.detail {
  position: relative; }
  .detail .top-left {
    position: absolute;
    top: 0.4740740741rem;
    left: 0.4rem;
    width: 1.4814814815rem;
    height: 1.4814814815rem;
    border-radius: 50%;
    border: 0.0740740741rem solid #fff;
    padding: 0.0888888889rem;
    line-height: 1.1851851852rem;
    box-sizing: border-box; }
    .detail .top-left .top-left-font {
      width: 1.1851851852rem;
      height: 1.1851851852rem;
      border-radius: 50%;
      background: #fff; }
      .detail .top-left .top-left-font .i-fanhui {
        font-size: 0.8148148148rem;
        margin-left: 0.0888888889rem; }

.detail-header {
  width: 100%; }
  .detail-header .detail-img {
    width: 100%;
    height: 16rem; }
    .detail-header .detail-img img {
      width: 100%;
      height: 100%; }
  .detail-header .detail-introduce {
    width: 100%;
    height: 4.2222222222rem;
    box-sizing: border-box;
    background: #fff;
    padding: 0.6666666667rem 0.6222222222rem 0 0.6222222222rem;
    font-size: 0.4888888889rem;
    color: #ccc;
    text-align: left; }
    .detail-header .detail-introduce h3 {
      font-size: 0.6222222222rem;
      color: #000; }
    .detail-header .detail-introduce > p {
      font-size: 0.5185185185rem; }
    .detail-header .detail-introduce .detail-money {
      display: flex;
      justify-content: space-between; }
      .detail-header .detail-introduce .detail-money .detail-now {
        font-size: 0.6074074074rem;
        color: #b5272d; }
      .detail-header .detail-introduce .detail-money .detail-old {
        text-decoration: line-through; }
      .detail-header .detail-introduce .detail-money .yishou {
        text-align: right; }
  .detail-header .your-pingtuan {
    width: 100%;
    height: 2.1481481481rem;
    background: #b5282e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.562962963rem;
    font-size: 0.4444444444rem;
    color: #fff;
    box-sizing: border-box; }
    .detail-header .your-pingtuan .pingtuan-left {
      height: 2.1481481481rem;
      display: flex;
      align-items: center; }
      .detail-header .your-pingtuan .pingtuan-left .pingtian-min {
        font-size: 0.637037037rem; }
      .detail-header .your-pingtuan .pingtuan-left .kaituan {
        float: left;
        padding-left: 0.562962963rem; }
        .detail-header .your-pingtuan .pingtuan-left .kaituan .yuanjia {
          text-decoration: line-through; }

.detail-guige {
  width: 100%;
  height: 1.9555555556rem;
  background: #fff;
  margin-top: 0.4444444444rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.162962963rem 0 0.6518518519rem;
  box-sizing: border-box; }
  .detail-guige .d-guige {
    font-size: 0.4592592593rem; }
  .detail-guige .i-arrow-right1 {
    font-size: 0.8592592593rem; }

.pintuan {
  width: 100%;
  height: 4.2222222222rem;
  margin-top: 0.5925925926rem;
  background: #fff; }
  .pintuan .pintuan-top {
    width: 100%;
    height: 1.4074074074rem;
    border: 0.0592592593rem solid #f7f7f7;
    font-size: 0.5925925926rem;
    text-align: left;
    line-height: 1.4074074074rem;
    padding-left: 0.4740740741rem; }
  .pintuan .pintuan-liucheng {
    width: 100%;
    font-size: 0.4444444444rem;
    height: 2.7851851852rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .pintuan .pintuan-liucheng .FontFamily {
      font-size: 1.0814814815rem; }
    .pintuan .pintuan-liucheng li {
      width: 2.6666666667rem;
      text-align: center; }

.detail-shopping {
  width: 100%;
  background: #fff;
  margin-top: 0.6222222222rem; }
  .detail-shopping .detail-shopping-top {
    width: 100%;
    height: 2.0444444444rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.5777777778rem; }
    .detail-shopping .detail-shopping-top li {
      width: 50%;
      height: 2.0444444444rem;
      line-height: 2.0444444444rem; }
    .detail-shopping .detail-shopping-top li:hover {
      border-bottom: 0.0296296296rem solid red;
      color: red; }
  .detail-shopping .detail-shopping-content {
    padding: 0.7703703704rem 0.237037037rem; }

.detail-reviews, .detail-introduce {
  font-size: 0.5037037037rem;
  width: 100%; }
  .detail-reviews .m-attrList, .detail-introduce .m-attrList {
    width: 100%; }
    .detail-reviews .m-attrList li .name, .detail-introduce .m-attrList li .name {
      width: 100% !important;
      text-align: left; }
    .detail-reviews .m-attrList li .value, .detail-introduce .m-attrList li .value {
      text-align: left; }
  .detail-reviews p, .detail-introduce p {
    width: 100% !important; }
    .detail-reviews p img, .detail-introduce p img {
      width: 100% !important; }
  .detail-reviews img, .detail-introduce img {
    width: 100%; }
  .detail-reviews .pingjia-content, .detail-introduce .pingjia-content {
    font-size: 0.5925925926rem;
    width: 100%;
    height: 2.962962963rem;
    text-align: left;
    line-height: 0.8888888889rem;
    border-bottom: 0.0444444444rem solid #ccc; }
    .detail-reviews .pingjia-content .pingjia-top, .detail-introduce .pingjia-content .pingjia-top {
      display: flex; }
    .detail-reviews .pingjia-content .pingjia, .detail-introduce .pingjia-content .pingjia {
      display: block;
      width: 1.7777777778rem;
      height: 0.8888888889rem;
      line-height: 0.8888888889rem;
      border-radius: 0.4444444444rem;
      text-align: center;
      color: #fff;
      background: #b5272d;
      margin-left: 0.1481481481rem; }

.detail-footer {
  width: 100%;
  height: 2.1481481481rem;
  border-top: 0.0148148148rem solid #ccc;
  z-index: 1;
  background: #fff;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box; }
  .detail-footer .kanjia {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #b5272d;
    font-size: 0.562962963rem;
    color: #fff; }
  .detail-footer .zhengchang {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center; }
    .detail-footer .zhengchang .font {
      width: 6.8148148148rem;
      height: 2rem;
      display: flex;
      align-items: center; }
      .detail-footer .zhengchang .font .font-left {
        width: 2.2222222222rem;
        height: 2rem;
        line-height: 2rem;
        border-right: 0.0592592593rem solid #ccc; }
    .detail-footer .zhengchang .youTo {
      width: 9.1851851852rem;
      height: 2rem;
      display: flex;
      align-items: center;
      font-size: 0.5925925926rem; }
      .detail-footer .zhengchang .youTo .youTo-left {
        width: 50%;
        height: 2.1481481481rem;
        line-height: 2rem; }
      .detail-footer .zhengchang .youTo .youTo-right {
        width: 50%;
        height: 2rem;
        line-height: 2rem;
        background: #b5272d;
        color: #fff; }
  .detail-footer .detail-footer-pingtuan {
    width: 100%;
    display: flex;
    align-items: center; }
    .detail-footer .detail-footer-pingtuan .font-left {
      width: 2.2222222222rem;
      height: 2rem;
      line-height: 2rem;
      border-right: 0.0148148148rem solid #ccc; }
    .detail-footer .detail-footer-pingtuan .font-right {
      display: flex;
      align-items: center; }
    .detail-footer .detail-footer-pingtuan .yuanjia {
      width: 4.6666666667rem;
      font-size: 0.5185185185rem; }
    .detail-footer .detail-footer-pingtuan .kaituan {
      padding-top: 0.2962962963rem;
      box-sizing: border-box;
      width: 6.962962963rem;
      height: 2rem;
      font-size: 0.5185185185rem;
      background: #b5282e; }

.address-header {
  width: 100%;
  height: 2.3703703704rem;
  line-height: 2.3703703704rem;
  background: #fff;
  position: relative; }
  .address-header .i-fanhui {
    position: absolute;
    top: 0;
    left: 0.2962962963rem; }

.address-content {
  width: 100%;
  height: 100%;
  background: #f5f5f5; }
  .address-content .address-yours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 0.6222222222rem; }
    .address-content .address-yours .i-editor {
      font-size: 0.7407407407rem; }
    .address-content .address-yours .yours {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.1111111111rem; }
      .address-content .address-yours .yours .i-xuanzhong {
        font-size: 0.6222222222rem; }
      .address-content .address-yours .yours .yours-name {
        font-size: 0.5185185185rem;
        margin-left: 0.8148148148rem;
        text-align: left; }
        .address-content .address-yours .yours .yours-name li:last-child {
          font-size: 0.4rem;
          color: #888; }

.address-footer {
  width: 100%;
  height: 2.1481481481rem;
  background: #fcfcfc;
  font-size: 0.5925925926rem;
  line-height: 2.1481481481rem;
  color: #b4282d; }
  .address-footer .i-tianjiadizhi {
    font-size: 0.6814814815rem; }

.choice {
  width: 100%;
  height: 11.4814814815rem;
  background: #fff; }
  .choice .choice-header {
    width: 100%;
    height: 1.7777777778rem;
    line-height: 1.7777777778rem;
    font-size: 0.6666666667rem; }
    .choice .choice-header .i-arrow-right {
      font-size: 0.6962962963rem;
      margin-left: 0.2666666667rem; }
  .choice .isroll-container {
    width: 100%;
    height: 9.7037037037rem; }
    .choice .isroll-container .wrape {
      display: flex;
      overflow: auto;
      width: 440%; }
      .choice .isroll-container .wrape .ch-shopping {
        width: 13.6592592593rem;
        height: 8.8888888889rem;
        margin-left: 0.3851851852rem; }
        .choice .isroll-container .wrape .ch-shopping .image-box {
          width: 13.6592592593rem;
          height: 7.4074074074rem; }
        .choice .isroll-container .wrape .ch-shopping .sug {
          text-align: left; }
          .choice .isroll-container .wrape .ch-shopping .sug .descript {
            font-size: 0.5925925926rem;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          .choice .isroll-container .wrape .ch-shopping .sug .title {
            font-size: 0.4444444444rem;
            color: #a3a3a3; }

.box .boxq {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
.box .choice-detail-header {
  width: 100%;
  height: 2.3703703704rem;
  line-height: 2.3703703704rem; }
  .box .choice-detail-header .i-fanhui {
    float: left;
    font-size: 0.7407407407rem; }
  .box .choice-detail-header .title {
    font-size: 0.562962963rem; }
.box .choice-detail-content {
  padding: 0 0.4444444444rem;
  width: 100%;
  -webkit-flex: 1;
  overflow: auto;
  font-size: 0.5185185185rem;
  box-sizing: border-box; }
  .box .choice-detail-content .detail-choice-content {
    text-align: left; }

.model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  .model .top {
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%; }
  .model .model-content {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .model .model-content .mo-co {
      padding: 0 0.5925925926rem 0 0.5925925926rem;
      box-sizing: border-box; }
    .model .model-content .mondel-title {
      width: 100%;
      height: 3.8074074074rem;
      border-bottom: 0.0148148148rem solid #ccc;
      display: flex;
      align-items: center; }
      .model .model-content .mondel-title .title-img {
        width: 2.5185185185rem;
        height: 2.5185185185rem; }
      .model .model-content .mondel-title ul {
        padding-left: 0.5777777778rem; }
        .model .model-content .mondel-title ul .model-name {
          font-size: 0.4888888889rem; }
        .model .model-content .mondel-title ul .model-price {
          font-size: 0.3851851852rem;
          text-align: left;
          color: red;
          margin-top: 0.6222222222rem; }
      .model .model-content .mondel-title .i-guanbi {
        position: absolute;
        top: 0.4148148148rem;
        right: 0.637037037rem;
        font-size: 0.7851851852rem;
        color: #999; }
    .model .model-content .model-guige {
      width: 100%;
      border-bottom: 0.0148148148rem solid #ccc;
      text-align: left;
      font-size: 0.5185185185rem;
      padding-top: 0.1481481481rem;
      box-sizing: border-box; }
      .model .model-content .model-guige .guige {
        padding-bottom: 0.6666666667rem;
        box-sizing: border-box; }
      .model .model-content .model-guige .active {
        color: red;
        border: 0.0740740741rem solid red; }
      .model .model-content .model-guige .button {
        box-sizing: border-box;
        border: 0.0740740741rem solid #999;
        border-radius: 0.1185185185rem;
        background: #fff;
        display: inline-block;
        padding: 0.3407407407rem 0.4444444444rem;
        margin: 0.4444444444rem 0.4444444444rem 0 0; }
    .model .model-content .model-num {
      width: 100%;
      display: flex;
      height: 3.037037037rem;
      justify-content: space-between;
      align-items: center;
      font-size: 0.4888888889rem; }
      .model .model-content .model-num .number {
        display: flex;
        align-items: center; }
        .model .model-content .model-num .number button {
          width: 1.7777777778rem;
          height: 1.4814814815rem;
          border: 0.0148148148rem solid #ccc;
          background: #fff;
          outline: none; }
        .model .model-content .model-num .number .numbers {
          width: 1.7777777778rem;
          height: 1.4074074074rem;
          line-height: 1.4074074074rem;
          border: 0.0148148148rem solid #ccc; }
    .model .model-content .model-footer {
      width: 100%;
      height: 1.8518518519rem;
      line-height: 1.8518518519rem;
      background: #b5272d;
      font-size: 0.6666666667rem;
      color: #fff; }

.firm-order-header {
  width: 100%;
  height: 2.2962962963rem;
  line-height: 2.2962962963rem;
  font-size: 0.5925925926rem;
  background: #fff; }
  .firm-order-header .i-fanhui {
    font-size: 0.8148148148rem; }

.firm-order-center {
  width: 100%;
  -webkit-flex: 1;
  overflow: auto; }

.firm-order-footer {
  width: 100%;
  height: 2.2074074074rem;
  border-top: 0.0444444444rem solid #ccc;
  display: flex;
  box-sizing: border-box; }
  .firm-order-footer .firm-order-footer-price {
    width: 10.6666666667rem;
    height: 1.8518518519rem;
    line-height: 1.8518518519rem;
    background: #fff;
    text-align: right;
    padding-right: 0.6666666667rem;
    font-size: 0.4444444444rem; }
  .firm-order-footer .submit {
    width: 5.3333333333rem;
    height: 1.8518518519rem;
    line-height: 1.8518518519rem;
    background: #b5282e;
    color: #fff;
    font-size: 0.5925925926rem; }

.default-address {
  width: 100%;
  height: 2.962962963rem;
  padding-top: 0.5925925926rem;
  box-sizing: border-box;
  background: #fff; }
  .default-address .address-yours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6666666667rem; }
    .default-address .address-yours .i-dizhi {
      font-size: 0.562962963rem;
      color: #ccc; }
    .default-address .address-yours .yours {
      display: flex;
      align-items: center; }
    .default-address .address-yours .address-name {
      padding-left: 0.9777777778rem; }
      .default-address .address-yours .address-name li {
        text-align: left;
        font-size: 0.5185185185rem;
        padding-bottom: 0.5925925926rem; }
      .default-address .address-yours .address-name li:last-child {
        font-size: 0.4444444444rem;
        color: #ccc; }
  .default-address .xiayibu {
    padding-right: 0.6666666667rem;
    font-size: 0.4444444444rem;
    font-weight: bold;
    color: #ccc; }

.product-list {
  width: 100%;
  background: #fff;
  margin-top: 0.3703703704rem; }
  .product-list .product-list-title {
    text-align: left;
    width: 100%;
    height: 1.6740740741rem;
    line-height: 1.6740740741rem;
    font-size: 0.5481481481rem;
    padding-left: 0.6666666667rem;
    border-bottom: 0.0444444444rem solid #ccc; }
  .product-list .product-list-shopping {
    display: flex;
    padding: 0.5925925926rem; }
    .product-list .product-list-shopping .product-list-shopping-img {
      width: 3.4074074074rem;
      right: 3.4074074074rem; }
    .product-list .product-list-shopping .product-list-shopping-name {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 0.4444444444rem; }
      .product-list .product-list-shopping .product-list-shopping-name p {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .product-list .product-list-shopping .product-list-shopping-name p .p-l-s-name {
          text-align: left;
          font-size: 0.5185185185rem;
          width: 7.4074074074rem;
          display: flex;
          flex-wrap: wrap; }
        .product-list .product-list-shopping .product-list-shopping-name p .p-l-s-price {
          font-size: 0.4296296296rem;
          width: 3.6296296296rem;
          text-align: right; }
      .product-list .product-list-shopping .product-list-shopping-name .p-l-s-bottom {
        color: #ccc; }
        .product-list .product-list-shopping .product-list-shopping-name .p-l-s-bottom .i-chenghao {
          font-size: 0.3111111111rem; }

.information {
  width: 100%;
  margin-top: 0.3703703704rem;
  background: #fff;
  font-size: 0.5185185185rem; }
  .information .distribution {
    width: 100%;
    height: 1.5555555556rem;
    padding: 0 0.6666666667rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0444444444rem solid #ccc;
    box-sizing: border-box; }
  .information .remarks {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 0.6666666667rem; }
    .information .remarks input[type=text] {
      margin-left: 2.1481481481rem;
      width: 70%;
      height: 2rem;
      border: none;
      outline: none; }

.shopping-price {
  width: 100%;
  height: 9.9259259259rem;
  padding: 0.6666666667rem;
  font-size: 0.5185185185rem;
  box-sizing: border-box;
  background: #fff;
  margin-top: 0.5185185185rem;
  display: flex;
  justify-content: space-between; }

.confirm-payment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff; }
  .confirm-payment .confirm-payment-header {
    width: 100%;
    height: 1.9259259259rem;
    line-height: 1.9259259259rem;
    font-size: 0.5925925926rem;
    border-bottom: 0.0296296296rem solid #ccc; }
    .confirm-payment .confirm-payment-header .i-fanhui {
      font-size: 0.7851851852rem; }
  .confirm-payment .confirm-payment-content {
    width: 100%;
    -webkit-flex: 1;
    overflow: auto; }
    .confirm-payment .confirm-payment-content .confirm-payment-price {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: left;
      height: 3.2592592593rem;
      border-bottom: 0.162962963rem solid #f7f7f7;
      padding-left: 0.6666666667rem;
      box-sizing: border-box; }
      .confirm-payment .confirm-payment-content .confirm-payment-price .i-wodeyue {
        font-size: 1.0814814815rem;
        color: #ffb5a1; }
      .confirm-payment .confirm-payment-content .confirm-payment-price .all-price {
        padding-left: 0.6666666667rem; }
        .confirm-payment .confirm-payment-content .confirm-payment-price .all-price p:first-child span:first-child {
          font-size: 0.5925925926rem; }
        .confirm-payment .confirm-payment-content .confirm-payment-price .all-price p:first-child span:last-child {
          font-size: 0.4444444444rem;
          color: #b5272d; }
        .confirm-payment .confirm-payment-content .confirm-payment-price .all-price p:last-child {
          font-size: 0.4444444444rem;
          color: #ccc; }
  .confirm-payment .confirm-payment-footer {
    width: 100%;
    height: 2.1481481481rem;
    background: #b5272d;
    font-size: 0.5925925926rem;
    color: #fff;
    line-height: 2.1481481481rem; }

.denglu {
  width: 100%;
  height: 100%;
  font-size: 0.5925925926rem;
  background: #fff; }
  .denglu .denglu-header {
    height: 2.2222222222rem;
    line-height: 2.2222222222rem;
    font-size: 0.7407407407rem;
    font-weight: bold;
    border-bottom: 0.0740740741rem solid #f7f7f7; }
  .denglu .denglu-content {
    padding: 0.4444444444rem;
    text-align: left; }
    .denglu .denglu-content .denglu-name {
      height: 2.2222222222rem;
      line-height: 2.2222222222rem;
      border-bottom: 0.0740740741rem solid #f7f7f7; }
      .denglu .denglu-content .denglu-name span {
        width: 2.6666666667rem;
        display: inline-block; }
      .denglu .denglu-content .denglu-name input[type=text] {
        width: 80%;
        height: 2.2222222222rem;
        border: none; }
    .denglu .denglu-content .denglu-password {
      height: 2.2222222222rem;
      line-height: 2.2222222222rem;
      border-bottom: 0.0740740741rem solid #f7f7f7; }
      .denglu .denglu-content .denglu-password span {
        width: 2.6666666667rem;
        display: inline-block; }
      .denglu .denglu-content .denglu-password input[type=password] {
        width: 80%;
        height: 2.2222222222rem;
        border: none; }
  .denglu button {
    width: 70%;
    height: 2.0740740741rem;
    font-size: 0.7407407407rem;
    background: #2e6da4;
    border-radius: 0.4444444444rem;
    border: none;
    outline: none;
    color: #fff; }

.new-address {
  width: 100%;
  height: 100%;
  background: #f5f5f9;
  box-sizing: border-box; }
  .new-address .add {
    width: 100%;
    background: #fff;
    padding: 0.6666666667rem;
    box-sizing: border-box; }
    .new-address .add .contents {
      width: 100%;
      height: 1.9259259259rem;
      font-size: 0.5185185185rem;
      border-bottom: 0.0444444444rem solid #cccccc;
      text-align: left;
      display: flex;
      align-items: center; }
      .new-address .add .contents span {
        width: 3.4074074074rem;
        display: inline-block; }
      .new-address .add .contents input {
        width: 70%;
        height: 1.7777777778rem;
        border: none; }
      .new-address .add .contents .el-form, .new-address .add .contents .demo-form-inline, .new-address .add .contents .el-form--inline {
        width: 2.962962963rem; }
        .new-address .add .contents .el-form input, .new-address .add .contents .demo-form-inline input, .new-address .add .contents .el-form--inline input {
          padding: 0; }
      .new-address .add .contents .el-form-item__content {
        display: flex;
        justify-content: space-between; }
        .new-address .add .contents .el-form-item__content .el-select {
          width: 2.962962963rem; }
      .new-address .add .contents .el-form-item {
        margin: 0; }
        .new-address .add .contents .el-form-item .el-input__suffix {
          display: none; }
  .new-address .sddress-lone {
    width: 100%;
    padding: 0 0.6666666667rem;
    box-sizing: border-box; }
    .new-address .sddress-lone button {
      width: 100%;
      height: 1.7037037037rem;
      border-radius: 0.4444444444rem;
      margin-top: 0.6666666667rem;
      border: none;
      outline: none;
      background: #1aad19;
      color: #fff; }
    .new-address .sddress-lone button:first-child {
      background: #e64340; }
    .new-address .sddress-lone button:last-child {
      background: #fff;
      color: #000; }

.footer {
  width: 100%;
  background: #fff;
  box-sizing: border-box; }
  .footer ul {
    width: 100%;
    height: 2.3703703704rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: 0.4444444444rem;
    border-top: 0.0740740741rem solid #ccc; }
    .footer ul .FontFamily {
      font-size: 1.0814814815rem; }
    .footer ul li a {
      color: #000; }
    .footer ul li .router-link-exact-active {
      color: red; }
  .footer .bar-foot {
    width: 100%;
    height: 2.1481481481rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .bar-foot .bar-foot-left {
      width: 10.8888888889rem;
      height: 2.1481481481rem;
      line-height: 2.1481481481rem;
      display: flex;
      align-items: center;
      border: none;
      justify-content: space-between;
      font-size: 0.5185185185rem;
      padding-left: 0.6222222222rem;
      padding-right: 0.6666666667rem; }
      .footer .bar-foot .bar-foot-left .i-xuanzhong {
        font-size: 0.7407407407rem;
        color: #999; }
      .footer .bar-foot .bar-foot-left .active {
        color: red; }
      .footer .bar-foot .bar-foot-left .bar-foot-left-font {
        padding-left: 0.5925925926rem; }
    .footer .bar-foot .bar-foot-right {
      width: 5.1111111111rem;
      height: 2.1481481481rem;
      line-height: 2.1481481481rem;
      background: #b5282e;
      font-size: 0.5925925926rem;
      color: #fff; }
    .footer .bar-foot .detail {
      background: #999; }

.kanjia {
  width: 100%;
  height: 17.7777777778rem;
  background: #bdab85;
  color: #fff;
  font-size: 0.5925925926rem;
  padding: 0 0.962962963rem;
  box-sizing: border-box; }
  .kanjia .kanjia-img {
    width: 2.5925925926rem;
    height: 2.5925925926rem;
    border-radius: 50%;
    margin: 1.7777777778rem auto 0 auto; }
    .kanjia .kanjia-img img {
      border-radius: 50%; }
  .kanjia .jieshao {
    margin-bottom: 0.3703703704rem; }
  .kanjia .kanjiaShopping {
    width: 14.1037037037rem;
    height: 4.0740740741rem;
    border-radius: 0.1481481481rem;
    background: #f6edde;
    padding: 0.1777777778rem;
    display: flex;
    margin-bottom: 0.7703703704rem; }
    .kanjia .kanjiaShopping .kanjiaShopping-img {
      width: 3.6rem;
      height: 3.6rem;
      border-bottom-right-radius: 0.2962962963rem; }
      .kanjia .kanjiaShopping .kanjiaShopping-img img {
        border-bottom-right-radius: 0.2962962963rem; }
    .kanjia .kanjiaShopping .kanjiaShopping-title {
      margin-left: 0.4444444444rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .kanjia .kanjiaShopping .kanjiaShopping-title .kanjiaShopping-name {
        color: #000;
        font-size: 0.6074074074rem; }
      .kanjia .kanjiaShopping .kanjiaShopping-title .kanjiaShopping-price {
        display: flex;
        justify-content: space-between; }
      .kanjia .kanjiaShopping .kanjiaShopping-title .kanjiaShopping-small {
        color: #b4aa8f; }
      .kanjia .kanjiaShopping .kanjiaShopping-title .kanjiaShopping-original {
        color: #aeaa9e;
        text-decoration: line-through; }
  .kanjia .yikan {
    margin-bottom: 1.0666666667rem; }
  .kanjia .kanjia-button button {
    height: 1.6296296296rem;
    border: none;
    outline: none;
    border-radius: 0.1481481481rem; }
  .kanjia .kanjia-button .my {
    width: 6.3703703704rem;
    background: #b4a078;
    color: #fff; }
  .kanjia .kanjia-button .request {
    width: 4.3703703704rem;
    margin-left: 0.4148148148rem;
    background: #cebd9c;
    color: #b4a078;
    border: 0.0740740741rem #b4a078 solid; }
  .kanjia .kanjiatime {
    margin: 1.0814814815rem auto;
    display: flex;
    width: 5.6296296296rem;
    justify-content: space-around; }
    .kanjia .kanjiatime span {
      width: 0.9777777778rem;
      height: 0.7111111111rem;
      line-height: 0.7111111111rem;
      background: #b4a078;
      border-radius: 0.1481481481rem;
      display: block; }

.kanjia-bottom {
  width: 100%;
  background: #fff;
  height: 10.1481481481rem;
  font-size: 0.5185185185rem; }
  .kanjia-bottom .jiao {
    width: 0.8rem;
    height: 0.8rem;
    background: #fff;
    display: block;
    margin: -0.2962962963rem auto;
    transform: rotate(45deg); }
  .kanjia-bottom p {
    margin-top: 0.7703703704rem; }

.login-box {
  background: #fff; }
  .login-box .login-header {
    width: 100%;
    height: 2.1481481481rem;
    line-height: 2.1481481481rem;
    background: #b5272d;
    font-size: 0.7407407407rem;
    position: relative;
    color: #fff; }
    .login-box .login-header .i-fanhui {
      position: absolute;
      left: 0.2962962963rem; }
  .login-box .login-content {
    padding: 0.7407407407rem;
    box-sizing: border-box;
    width: 100%; }
    .login-box .login-content .login-tel {
      width: 100%;
      height: 2.1481481481rem;
      border-bottom: 0.0444444444rem solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .login-box .login-content .login-tel .img-code {
        display: block;
        width: 5.9259259259rem;
        height: 1.7777777778rem;
        line-height: 1.7777777778rem; }
      .login-box .login-content .login-tel .button {
        width: 6.6666666667rem;
        height: 1.4814814815rem;
        border: none;
        outline: none;
        border-radius: 0.7407407407rem;
        background: #b5272d;
        color: #fff; }
      .login-box .login-content .login-tel .active {
        background: #999; }
      .login-box .login-content .login-tel input {
        padding-left: 0.1481481481rem;
        width: 100%;
        height: 100%;
        font-size: 0.5925925926rem;
        border: none;
        outline: none; }
  .login-box .error {
    padding-left: 0.4444444444rem;
    color: #b5272d;
    font-size: 0.6666666667rem;
    text-align: left;
    height: 1.4814814815rem;
    line-height: 1.4814814815rem; }
  .login-box .login-protocol {
    padding-left: 0.4444444444rem;
    font-size: 0.5925925926rem;
    text-align: left;
    color: #999; }
  .login-box .login-btn {
    padding-left: 1.4814814815rem;
    margin-top: 0.7407407407rem;
    width: 70%;
    height: 2.2222222222rem;
    border-radius: 1.4814814815rem;
    border: none;
    outline: none;
    background: #b5272d;
    color: #fff;
    font-size: 0.8888888889rem;
    letter-spacing: 1.4814814815rem; }
  .login-box .login-exist {
    font-size: 0.5925925926rem;
    height: 1.4814814815rem;
    line-height: 1.4814814815rem;
    color: #b5272d; }

.box-dingdan {
  background: #fff; }
  .box-dingdan .dingdan-header {
    width: 100%;
    height: 4.2962962963rem;
    line-height: 2.1481481481rem; }
    .box-dingdan .dingdan-header .header-tap {
      display: flex;
      height: 2.1481481481rem;
      font-size: 0.6666666667rem; }
      .box-dingdan .dingdan-header .header-tap li {
        width: 30%; }
      .box-dingdan .dingdan-header .header-tap li:hover {
        border-bottom: 0.0444444444rem solid #b5272d; }

.goodsMap {
  padding: 0.4444444444rem;
  width: 100%;
  height: 4.4444444444rem;
  box-sizing: border-box;
  background: #fff;
  border-top: 0.2962962963rem solid #f7f7f7; }
  .goodsMap .goodsMap-list {
    display: flex; }
    .goodsMap .goodsMap-list a {
      display: flex; }
    .goodsMap .goodsMap-list .goodsMap-img {
      width: 2.962962963rem;
      height: 2.962962963rem; }
    .goodsMap .goodsMap-list .goodsMap-title {
      font-size: 0.5925925926rem;
      width: 11.1111111111rem;
      height: 2.962962963rem;
      margin-left: 0.4444444444rem;
      text-align: left; }
      .goodsMap .goodsMap-list .goodsMap-title .shopping-now {
        display: flex;
        margin-top: 0.5925925926rem;
        flex-direction: column; }
        .goodsMap .goodsMap-list .goodsMap-title .shopping-now span:last-child {
          margin-top: 0.2962962963rem;
          text-align: right; }
        .goodsMap .goodsMap-list .goodsMap-title .shopping-now .pingjia-button {
          display: flex;
          justify-content: space-between; }
          .goodsMap .goodsMap-list .goodsMap-title .shopping-now .pingjia-button a {
            display: inline-block; }

.el-collapse-item__wrap {
  padding-left: 0.4444444444rem;
  text-align: left; }

.el-button.is-round {
  padding: 0.2666666667rem 0.3703703704rem !important; }

.pingjia-content {
  width: 100%;
  background: #fff;
  box-sizing: border-box; }
  .pingjia-content .haoping {
    width: 100%;
    height: 2.1481481481rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .pingjia-content .haoping button {
      border-radius: 0.4444444444rem;
      outline: none;
      border: none; }
    .pingjia-content .haoping button:hover {
      background: #1aad19; }
  .pingjia-content .textarea {
    border: 0.0444444444rem solid red;
    width: 11.8518518519rem;
    margin: 0 auto;
    border-radius: 0.4444444444rem; }
    .pingjia-content .textarea textarea {
      border: none;
      outline: none; }
  .pingjia-content .subpingjia {
    text-align: right;
    padding: 0.4444444444rem 2.2222222222rem 0.4444444444rem 0; }
    .pingjia-content .subpingjia button {
      width: 2.2222222222rem;
      height: 1.1851851852rem;
      border-radius: 0.2962962963rem;
      border: none;
      outline: none; }

html, body, #app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

img {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #000000; }

ul, li, p, dl, dd, dt, h3, div, img, h4, input {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=app.css.map */
