.confirm-payment{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  .confirm-payment-header{
    width: 100%;
    height: rem(130);
    line-height: rem(130);
    font-size: rem(40);
    border-bottom: rem(2) solid #ccc;
    .i-fanhui{
      font-size: rem(53);
    }
  }
  .confirm-payment-content{
    width: 100%;
    -webkit-flex: 1;
    overflow: auto;
    .confirm-payment-price {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: left;
      height: rem(220);
      border-bottom: rem(11) solid #f7f7f7;
      padding-left: rem(45);
      box-sizing: border-box;
      .i-wodeyue{
        font-size: rem(73);
        color: #ffb5a1;
      }
      .all-price{
        padding-left: rem(45);
        p:first-child{
          span:first-child{
            font-size: rem(40);
          }
          span:last-child{
            font-size: rem(30);
            color: #b5272d;
          }
        }
        p:last-child{
          font-size: rem(30);
          color: #ccc;
        }
      }
    }
  }
  .confirm-payment-footer{
    width: 100%;
    height: rem(145);
    background: #b5272d;
    font-size: rem(40);
    color: #fff;
    line-height: rem(145);
  }
}
