.box{
  .boxq{
    padding: 0 rem(30);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .choice-detail-header{
    width: 100%;
    height: rem(160);
    line-height: rem(160);
    .i-fanhui{
      float: left;
      font-size: rem(50);
    }
    .title{
      font-size: rem(38);
    }
  }
  .choice-detail-content{
    width: 100%;
    -webkit-flex: 1;
    overflow: auto;
    font-size: rem(35);
   .detail-choice-content{
     text-align: left;
   }
  }
}
