.footer{
  width: 100%;
  height: 2.4148rem;
  background: #fff;
  box-sizing: border-box;
  ul{
    width: 100%;
    height: 2.4148rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: 0.5037rem;
    .FontFamily{
      font-size: 1.0815rem;
    }
    li{
      a{
        color: #000;
      }
      .router-link-exact-active{
        color: red;
      }
    }

  }
}
