.footer{
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  ul{
    width: 100%;
    height: rem(160);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: rem(30);
    border-top: rem(5) solid #ccc;
    .FontFamily{
      font-size: rem(73);
    }
    li{
      a{
        color: #000;
      }
      .router-link-exact-active{
        color: red;
      }
    }

  }
  .bar-foot{
    width: 100%;
    height: rem(145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bar-foot-left{
      width: rem(735);
      height: rem(145);
      line-height: rem(145);
      display: flex;
      align-items: center;
      border: none;
      justify-content: space-between;
      font-size: rem(35);
      padding-left: rem(42);
      padding-right: rem(45);
      .i-xuanzhong{
        font-size: rem(50);
        color: #999;
      }
      .active{
        color: red;
      }
      .bar-foot-left-font{
        padding-left: rem(40);
      }
    }
    .bar-foot-right{
      width: rem(345);
      height: rem(145);
      line-height: rem(145);
      background: #b5282e;
      font-size: rem(40);
      color: #fff;
    }
    .detail{
      background: #999;
    }
  }
}

