.whole-price{
  background: #fff;
  .slot{
    height: rem(185);
    position: relative;
    .fanhui{
      position: absolute;
      top: 0;
      left: rem(20);
    }
  }
}
.whole-price:before{
  display: table;
  content: '';
}
.i-fanhui{
  float: left;
  font-size: rem(55);
  margin-left: rem(35);
}
