.detail-guige{
  width: 100%;
  height: rem(132);
  background: #fff;
  margin-top: rem(30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(11) 0 rem(44);
  box-sizing: border-box;
  .d-guige{
    font-size: rem(31);
  }
  .i-arrow-right1{
    font-size: rem(58);
  }
}
.pintuan{
  width: 100%;
  height: rem(285);
  margin-top: rem(40);
  background: #fff;
  .pintuan-top{
    width: 100%;
    height: rem(95);
    border: rem(4) solid #f7f7f7;
    font-size: rem(40);
    text-align: left;
    line-height: rem(95);
    padding-left: rem(32);
  }
  .pintuan-liucheng{
    width: 100%;
    font-size: rem(30);
    height: rem(188);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .FontFamily{
      font-size: rem(73);
    }
    li{
      width: rem(180);
      text-align: center;
    }
  }
}
