.shopping-price{
  width: 100%;
  height: rem(670);
  padding: rem(45);
  font-size: rem(35);
  box-sizing: border-box;
  background: #fff;
  margin-top: rem(35);
  display: flex;
  justify-content: space-between;
}
