.personal-top{
  width: 100%;
  background: #c2b088;
  box-sizing: border-box;
  padding: rem(175) 0 rem(143) rem(40);
  ul{
    display: flex;
    .head-sculpture{
      width: rem(220);
      height: rem(220);
      border-radius: 50%;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .personal-name{
      text-align: left;
      padding-left: rem(44);
      margin-top: rem(25);
      color: #fff;
      .name{
        font-size: rem(42);
      }
      .integral{
        font-size: rem(30);
        width: rem(165);
        height: rem(40);
        margin-top: rem(24);
        border-radius: rem(8);
        background: #b2a078;
        text-align: center;
      }
    }
  }
}
